/* Text between slashes and asterisks like this
is treated as a comment rather than code to be executed. */

/**********/
/* COLORS */
/**********/

/*
By default olors are not hardcoded, they are accessed through variables.
The easiest way to modify the color scheme of your blog is to overwrite the color variables.

--color-background is used for the site background
--color-primary is used for the text and main UI elements
--color-secondary is used for unactive links
--color-alert is used for hovered links
--color-highlight is used for highlighted text

The documentation below shows how to implement a simple and advanced color scheme
*/

/* 
Simple color scheme, just uncomment group below and assign the desired values tto the variables
*/

/*
:root {
  --color-background: beige;
  --color-primary: blue;
  --color-secondary: orange;
  --color-alert: black;
  --color-hightlight: green;
/*
  
/* Keep this to overwrite color variants*/

/*
:root{
  --color-highlight-lighter: var(--color-hightlight);
  --color-primary-lighter-dm-2: var(--color-primary);
  --color-primary-lighter: var(--color-primary);
  --color-primary-darker: var(--color-primary);
}
*/

/* Advanced color scheme */

/* OBR default color setup uses OKLCH color, and generates a series of color variants for each base color.
Each base color is defined by its chroma and hue, for example

/* Pimary Definition */  
/* --color-primary-chroma: 0.0345;
--color-primary-hue: 260; */

/* Secondary Definition */
/* --color-secondary-chroma: 0.194;
--color-secondary-hue: 31; */

/* For each base color OBR defines a series of variants

--color-primary is defined with --color-primary-chroma and --color-primary-hue

OBR also defines the following variants

--color-primary-lighter
--color-primary-light
--color-primary-dark
--color-primary-darker

To find chroma and hue values for a specific color use e.g. https://colorpicker.dev/ */

/* If you wish to edit any of the parameters set in :root, 
uncomment this group. /*


/**********/
/*  FONT  */
/**********/

/* By default OBR uses font stacks based on system fonts. This to minimize loading speeds. 

The font stacks are defined in two variables
--sans-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
--serif-stack: 'Charter', 'Bitstream Charter', Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif; */

/* A simple way to chose a font stack/combinations of stacks is to setup the STYLE variable in blog-config.yaml

STYLE: 'sans' everything in --sans-stack, default setting
STYLE: 'serif' everything in --serif-stack, 
STYLE: 'serif-and-sans' body text in --serif-stack, headings in -sans-stack
STYLE: 'sans-and-serif' body text in --sans-stack, headings in -serif-stack

/* If you want to use different fonts, you can change these font stacks
They are given in order of preference, with later fonts being fallbacks
if the first is unavailable.

If you wish to use another font, the recommended option is to import from
Fontsource, if the font is available. Fontsource hosts mostly the fonts you'll find on google fonts.
If the font you're trying to install is not available on Fontsource, see below "Addind a font locally"

1. If you're using npm as a package manager
First install the font package
    npm install @fontsource/name-of-my-font
Add the line 
    import '@fontsource/name-of-my-font';
at the start of the 'src/layouts/baselayout.astro' file and add it
to the beginning of the font stack you wish to add it to.
(Replace the font name with the font you wish to use. You can search
available options on https://fontsource.org)

2. If you're not using npm as a package manager
Head to fontsource font page, and copy the CSS code the CDN tab, for example

For the font Gloria Hallelujah

in the CDN you'll find https://fontsource.org/fonts/gloria-hallelujah/cdn
*/

/*
@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/gloria-hallelujah@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/gloria-hallelujah@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
  */

/*
Add it to your sytles (uncomment it in this file) and add it to the desired stack, for example
*/

/*
:root {
  --sans-stack: 'Gloria Hallelujah', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
*/

/* Adding a font locally 
If you want to add custom font locally do the following

1. Place the font files in public/fonts (create the fonts folder if it doesn't exists)
2. Be sure to have the fonts available in different formats, to ensure portability over multiple devices: include woff2, woff, otf, ttf formats 
2.a If you don't have the fonts in all the formats use a font coverter like https://www.fontsquirrel.com/tools/webfont-generator
3. Add a font-face declaration in this file
Example below
Use the font formats in this order: woff2, woff, TTF, OTF, the browser will first try to use the woff2 file which is the most modern format, if it can't it'll try with the woff one and so on
@font-face {
     font-family: 'myFont';
       src: url('/fonts/myFont.woff2') format('woff2'),
            url('/fonts/myFont.woff') format('woff'),
            url('/fonts/myFont.ttf') format('truetype'),
            url('/fonts/myFont.otf') format('opentype');
       font-weight: normal; Or adjust to the weight of the font
       font-style: normal; Or adjust to the style of the font
       font-display: swap; TL;DR keep this, it enusres the borwsers uses a replacement font while it's loading the custom font.
}


Then use it in your css.
If you want to use it globally assing it to the font stack variables, example if your blog has the STYLE: "sans" setting in blog-config.yaml

:root {
  --sans-stack: 'myFont', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

Or assing it to css styles, example

h1 {
  font-family: "myFont", sans-serif;
}

/* If you want to overwrite any other style elements, copy the relevant 
code from the default file and insert below with the parts you
wish to change. As an example, the horizontal lines between a post
and the footer is set with the hr element: */

/* hr {
    height: 1px;
    color: var(--color-primary-lighter);
    background: var(--color-primary-lighter);
    font-size: 0;
    border: 0;
} */

hr {
  display: none;
}

@font-face {
  font-family: 'Gidolinya';
  src: url('/fonts/gidolinya-regular-webfont.woff2') format('woff2'),
       url('/fonts/gidolinya-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Gidole';
  src: url('/fonts/Gidole-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

body {
  background-color: snow;

  background-image: url('/img/paper-effect.png');
    
  background-size: 100%; 
  background-blend-mode: difference;
  background-position: center;
  background-repeat: repeat-y;
}

* { 
  font-family: 'Gidolinya' !important;
  font-weight: normal !important;
  font-size: var(--size-0);
}

strong {
  background-color: var(--color-secondary-lighter);
  color: var(--color-secondary);
}

h1 {
  color: var(--color-secondary);
  text-transform: uppercase;
}

h1, .site-title {
  font-size: var(--size-5);

  color: white;
  background-color: var(--color-secondary);
  text-transform: uppercase;

  padding: 2px 4px;
}
h1 {
  display: inline-block;

}
h2, h3, h4, h5 {
  font-size: var(--size-6);
}

article h2 {
  font-size: var(--size-5);
  color: white;
  background-color: var(--color-primary-darker);
  text-transform: uppercase;

  display: inline-block;

  padding: 2px 4px;
}

h3 {
  font-size: var(--size-6);
  color: white;
  background-color: var(--color-primary-light);
  text-transform: uppercase;

  display: inline-block;

  padding: 2px 4px;
}

h4 {
  font-size: var(--size-6);
  color: white;
  background-color: var(--color-primary-lighter);
  color: var(--color-primary);

  display: inline-block;

  padding: 2px 4px;
}

h2, h2 a {
  font-size: var(--size-0);
  font-weight: bold;
}

a, h2 + a {
  font-size: var(--size-0);
  background-color: none !important;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
}

a:hover {
  background-color: var(--color-secondary-lighter);
  text-decoration: none !important;
}

a.site-title {
  text-decoration: none !important;
}

body {
  /* Initialize everything, but h1 will not be displayed */
  counter-reset: h2-count h3-count h4-count h5-count;
}

/* 1. H1 acts only as a reset point for the smaller headers */
 h1 {
  counter-reset: h2-count;
}

/* 2. H2 Display */
article h2 {
  counter-increment: h2-count;
  counter-reset: h3-count;
}

article h2::before {
  content: counter(h2-count) ". ";
}

/* 3. H3 Display (Nested style: e.g., 1.1) */
article h3 {
  counter-increment: h3-count;
  counter-reset: h4-count;
}
article h3::before {
  content: counter(h2-count) "." counter(h3-count) " ";
}

/* 4. H4 Display (e.g., 1.1.1) */
article h4 {
  counter-increment: h4-count;
  counter-reset: h5-count;
}
article  h4::before {
  content: counter(h2-count) "." counter(h3-count) "." counter(h4-count) " ";
}

/* 5. H5 Display */
article h5 {
  counter-increment: h5-count;
}
article h5::before {
  content: counter(h2-count) "." counter(h3-count) "." counter(h4-count) "." counter(h5-count) " ";
}

nav {
  position: relative;
  z-index: 200;
  mix-blend-mode: multiply;
}

/* Full screen images */
img.fullscreen {
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  margin: 0;
  padding: 0;
}
img.fullscreen {
  object-fit: cover;
}

section.post-preview  {
  display: block;
}

.article-header h2 {

}

article-header-content{
  /*
  filter: contrast(1.75) grayscale(1);
  */
  margin-top: -1rem;
}

main a.page-link, main ul li a {
  
  border: 1px solid var(--color-secondary-darker);
  position: relative;
  display: inline-block;
  padding: 4px;
  text-decoration: none;
  box-shadow: 4px 4px 0px var(--color-secondary);
  
}

main a.page-link:hover, main ul li a:hover {
  
  border: 1px solid var(--color-secondary-darker);
  position: relative;
  display: inline-block;
  padding: 4px;
  text-decoration: none;
  box-shadow: 2px 2px 0px var(--color-secondary);
  
}

main ul {
  margin-top: -10px !important;
}

article-header-content img {
  border: 1px solid var(--color-secondary-darker);
  position: relative;
  display: none;
  box-shadow: 4px 4px 0px var(--color-secondary);
}

.dead-god {
  font-size: var(--size-0);
  height: auto;
  position: fixed;
  top: 60%;
  left: 50%;
  z-index: 9999;
  background-color:rgba(0, 0, 0, 0.5);
  color: white !important;
  padding: 0;
  margin: 0;
}

.dead-god * {
  color: rgb(255, 234, 237) !important;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  padding: 5px;

}