---
import BaseLayout from "../layouts/baselayout.astro";
import QueryPosts from "../components/query-posts.astro";

import { CONFIG } from "@config";

import Home from "../data/home.mdx"
---

<BaseLayout>
  
  <Home />
  <div class="mt-xl">
    <a href="/character-generator/" class="page-link mr-base mt-base">Character Generator</a>
    <a href="https://docs.google.com/spreadsheets/d/1viV25Klt70ifyLAbeLszf3jIZhDYuUTzOJhNLgMMVdk/edit?usp=sharing" class="mt-base page-link">Online Character Keeper (Google sheets)</a>

    <QueryPosts nbPosts={CONFIG.HOME_NB_POSTS} hasCover={CONFIG.POST_THUMBNAILS} sectionHeaderContentClass="trio-lg post-preview"/>
  </div>
</BaseLayout>
