---
import { CONFIG } from "@config";

const canonicalURL = Astro.url; 

const { title, description, type } = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{title || CONFIG.TITLE}</title>
    <meta name="description" content={description || CONFIG.DESCRIPTION} />

    <meta name="viewport" content="width=device-width" />

    <meta property="og:site_name" content={CONFIG.TITLE}>
    <meta property="og:title" content={title || CONFIG.TITLE}>
    <meta property="og:description" content={description || CONFIG.DESCRIPTION}>
    <meta property="og:url" content={canonicalURL}>
    <meta property="og:type" content={type || "website"}>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png"><!-- 180×180 -->

    <!-- 
    <meta property="og:image" content={CONFIG.BLOG_COVER.src ? `${CONFIG.URL}${CONFIG.BLOG_COVER.src}` : ""}>
    <meta property="og:image:alt" content={CONFIG.BLOG_COVER.alt ? CONFIG.BLOG_COVER.alt  : ""}>
    -->
</head>