---
import { sanitizeString } from "public/js/util/util";
import { sanitizeUrl } from '../js/sanitizeUrl';

const { postTitle = '', allPostTags = [] } = Astro.props;

---
<nav aria-label=`Tags for ${postTitle}`>
    {allPostTags.sort().map((cat) => (
        <span>
            <a class="mr-tiny" href={sanitizeUrl(`tags/${sanitizeString(cat)}`)} data-astro-prefetch>{cat}</a>

        </span>
    ))}
</nav>